html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
.my-form-users .el-form-item__label {
  line-height: 28px;
}
.my-form-users .el-form-item__content {
  height: 28px;
  line-height: 28px;
}
.my-form-users .el-form-item__content .el-input__inner {
  height: 28px;
  line-height: 28px;
}
.my-form-users .el-form-item__content .el-col {
  height: 28px;
  width: 120px;
}
.my-form-users .el-form-item__content .el-col .el-input {
  height: 28px;
  line-height: 28px;
}
.my-form-users .el-form-item__content .el-col .el-input .el-input__inner {
  height: 28px;
  line-height: 28px;
}
.my-form-users .el-form-item__content .el-col .el-input .el-input__prefix {
  height: 28px;
}
.my-form-users .el-form-item__content .el-col .el-input .el-input__prefix .el-input__icon {
  height: 28px;
  line-height: 28px;
}
.my-form-users .el-form-item__content .el-col .el-input .el-input__suffix-inner .el-input__inner {
  padding-right: 0;
}
.my-form-users .el-form-item__content .el-col .el-input .el-input__suffix-inner .el-input__icon {
  height: 28px;
  line-height: 28px;
}
